body {
  overflow-x: hidden;
  background-color: #E6D3A3;
}

.navbar {
  background-color: #4D4D4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.icon {
  color: white;
  margin: 10px;
  cursor: pointer;
  font-size: 24px;
}

.back-arrow {
  font-size: 24px;
  color: #FFD700;
  cursor: pointer;
  margin-bottom: 20px;
  transition: color 0.3s ease-out 50ms;
}

.back-arrow:hover {
  color: #000000;
}

.sp-form-container-list {
  background-color: #4D4D4D;
  padding: 30px;
  max-width: 700px;
  margin: 50px auto;
  border-radius: 15px;
  position: relative;
}

.sp-student-profile-container {
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 20px auto;
}

.sp-profile-wrapper {
  display: flex;
  align-items: center;
}

.sp-student-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.sp-student-info h3 {
  margin: 0;
  color: #FFFFFF;
  font-size: 24px;
  margin-left: 30px;
}

.sp-student-info p {
  color: #FFFFFF;
  font-size: 16px;
  margin-left: 30px;
}

.sp-student-documents {
  width: 100%;
  margin-top: 20px;
}

.sp-document-row {
  background-color: #FFD700;
  color: black;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.sp-document-actions {
  display: flex;
  gap: 10px;
}

.sp-download-icon,
.sp-uncheck-icon{
  cursor: pointer;
  font-size: 30px;
  height: 30px;
  transition: color 0.3s ease-out 50ms, box-shadow 0.3s ease-out 50ms;
  color: #575757;
}

.sp-download-icon:hover,
.sp-uncheck-icon:hover,
.sp-checked-icon:hover {
  color: #000000;
}

.sp-checked-icon {
  cursor: pointer;
  font-size: 30px;
  height: 30px;
  transition: color 0.3s ease-out 50ms, box-shadow 0.3s ease-out 50ms;
  color: green;
}

.sp-checked-icon:hover{
   color: darkgreen;
}

.sp-approve-container {
  margin-top: 20px;
}

.sp-approve-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.sp-approve-button:hover {
  background-color: darkgreen;
}

.sp-no-documents {
  background-color: #FFD700;
  color: black;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}


.sp-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.sp-modal-content {
  position: relative;
  background: #4D4D4D;
  color: #FFFFFF;
  padding: 20px;
  width: 500px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.sp-close-modal-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #FFD700;
  transition: color 0.3s ease-out 50ms, box-shadow 0.3s ease-out 50ms;
  z-index: 1;
}

.sp-close-modal-icon:hover {
  color: #000000;
}

.sp-modal-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp-modal-profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.sp-modal-right {
  flex: 2;
  padding-left: 20px;
}

.sp-student-btns {
  display: flex;
  gap: 10px;
  margin-left: 30px;  
}

.sp-info-btn {
  padding: 10px 15px;
  cursor: pointer;
  width: 100px;
}

.sp-msg-btn {
  padding: 10px 15px;
  cursor: pointer;
  width: 150px;
}

.sp-modal-form input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #666666;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.sp-modal-form textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color: #666666;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.sp-modal-form input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.sp-modal-textarea {
  height: 300px;
  resize: none;
}

.sp-send-btn {
  padding: 10px;
  font-size: 16px;
  background-color: #FFD700;
  color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%; 
}

.sp-modal-notif-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sp-modal-notif-content {
  background: #4D4D4D;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 350px;
}

.sp-modal-notif-msg {
  font-weight: 500;
}

.sp-button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px; 
}

.sp-btn-yes {
  background-color: #4CAF50;
}

.sp-btn-yes:hover {
  background-color: #337937;
}

.sp-btn-no {
  background-color: #F44336;
}

.sp-btn-no:hover {
  background-color: #a02424;
}